/* .imgg{
  background-image: url('./assets/1.ddb463a076b58bbe0ea3.jpg');
  background-image: url('./assets/2.924b429a0601a89b04e1.jpg');
  background-size: cover;
  background-repeat: no-repeat;

} */

.head{
  color: aqua;
}